html {
  font-family: 'Inconsolata', monospace;
}

body {
  text-align: center;
}

header {
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

.timer-display {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  margin: 50px auto;
  padding: 10px;
  width: 30%;
}

.timer-display p {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.time {
  justify-self: left;
  margin-left: 10px;
}

.time-label {
  margin-right: 10px;
  justify-self: right;
}

.timer-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.btn {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: black;
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}